body {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 21.25rem; 
  overflow-y: auto; 
  padding: 2rem;
  font-smooth: always;
}

@media (max-device-width: 480px) {
  body, h5 {
    font-size: 3rem !important;
    width: 62.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  button, input {
    width: 6.25rem;
    height: 6.24rem;
    font-size: 2.5rem;
  }
  svg {
    width: 4.688rem;
    height: 4.375rem;
    font-size: 2rem;
  }

 .form-control {
    height: 6.25rem !important;
    width: 37.5rem !important;
  }
  input [type="text"]{
    height: 6.25rem !important;
    width: 37.5rem !important;
    border-radius: 0.5rem;
  }
  td button{
    margin: 0.4rem !important;

  }
 .todo-task {
    vertical-align: middle !important;
  }
  p {
    margin: 2.5rem 1rem 2.5rem 1rem;
  }

  .time-input {
    width: 16.25rem;
  }
}
   
.todo-task {
    color:red;
}

.is-completed {
  color:green;
  text-decoration: line-through;
}

.save-button {
  display:none;
}

.cancel-button {
  display: none;
}

.error-message{
  display: none;
  width: 40rem;
  margin: 1.563rem;
  padding-left: 4rem;
}
.time-input {
background-color: gray;
border-radius: 0.4rem;
padding: 0.4rem;
border: none;
}

.btn-secondary {
background-color: gray;
}
