
   
.todo-task {
    color:red;
}

.is-completed {
  color:green;
  text-decoration: line-through;
}

.save-button {
  display:none;
}

.cancel-button {
  display: none;
}

.error-message{
  display: none;
  width: 600px;
  margin: 25px;
  padding-left: 4rem;

}
